<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="./estilos.css">
</head>
<body>
    <header>
        <div class="logo">Logo</div>
        <nav class="nav">
            <ul>
                <li>Home</li>
                <li>Curso</li>
                <li>Instructores</li>
                <li>Blog</li>
            </ul>
        </nav>
    </header>
    <main>
        <aside>
            <div class="block-aside"></div>
            <div class="block-aside"></div>
            <div class="block-aside"></div>
            <div class="block-aside"></div>
        </aside>
        <article>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente officiis, doloremque, blanditiis distinctio ipsum quisquam saepe magni veniam, molestiae maiores odio quidem amet facere nemo aliquam deleniti. Ullam, ipsa quam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente officiis, doloremque, blanditiis distinctio ipsum quisquam saepe magni veniam, molestiae maiores odio quidem amet facere nemo aliquam deleniti. Ullam, ipsa quam.
            </p>
        </article>
    </main>
    <footer>
        <div class="foot">Derechos reservados de la empresa 2020</div>
        <div class="rrss">
            <ul>
                <li>Facebook</li>
                <li>Twiter</li>
                <li>Instagram</li>
            </ul>
        </div>
    </footer>
</body>
</html>