body{
    margin: 0;
    background-color: #232426;
    font-family: 'PT Sans', sans-serif;
}

ol, li{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Header */
figure{
    margin: 0;
    padding: 0 15px;
}

.header{
    background-color: #19191b;
    color:#cdced0;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
}

.menu{
    height: inherit;
}

.header ol{
    display: flex;
    height: inherit;
}

.header ol li{
    height: inherit;
}

.header a{
    color: #cdced0;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

#PlayForFreeButton{
    border: 0.5px solid #495e73 ;
    background-color: #121c26;
    border-radius: 5px;
    padding: 10px 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #446f99;

    /* height: 42px;
    width: 228px; */
}
/* MAIN */

.marco1{
    border: 20px solid #252628;
    -webkit-box-shadow: 0px 0px 14px 9px rgba(5,4,4,1);
    -moz-box-shadow: 0px 0px 14px 9px rgba(5,4,4,1);
    box-shadow: 0px 0px 14px 9px rgba(5,4,4,1);
    margin: 40px;
    border-radius: 5px;
}
.marco2{
    border: 3px solid #0a0605;
    border-radius: 3px;
}
.marco3{
    border: 3px solid #22090d;
    border-radius: 3px;
    padding: 15px 15px;
    background-color: #1f2324;
}

/* contet-title */
.content-title{
    background-color: black;
    color:#acc3d1;
    border-radius: 3px;

}
.content-title h1{
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    letter-spacing: 7px;
    font-weight: lighter;
    padding: 10px 0px 2px 0px;
    margin: 0;
    
}

.content-title p{
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    padding: 2px 0px 8px 0px;
    margin: 0;
}

.content-title span{
    color: white;
}

/* filter */
.filter{
    margin: 0;
    padding: 15px 0;
    text-align: center;    
}

.filter select{
    color: #949494;
    background-color: #2b2c2e;
    border: 0;
    padding: 5px 5px;
}

/* tipo de heroe */

.tipo-heroe{
    display: flex;
    justify-content: space-between;
    
}
.tipo-heroe ol{
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    /* width: 100px; */
}

.lista-left,.lista-middle,.lista-right{
    /* border: 1px solid blue; */
    float: left;
    width: 277px;
    padding: 0px 7px 0px 23px;
}
.lista-left h2,.lista-middle h2,.lista-right h2{
    text-transform: uppercase;
    color: #616362;
    font-weight: lighter;
    text-align: center;
}

.list-img{
    padding: 0;
}
.list-img img{
    width: 59px;
    height: 33;
    
}

/* Contenedor */

.container{
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    /* flex-wrap: inherit; */
}

